<div class="container">

<div ng-include src="'app/utilities/alerts.html'"></div>

 		<!-- <div class="row topMargin40"></div>
 		
		<div class="alert alert-danger" ng-show="vm.withdrawlForm.errorFound">
			<i class="fa fa-times"></i>
			{{vm.withdrawlForm.errorMsg}}
		</div>
		
		<div class="alert alert-warning" ng-show="vm.withdrawlForm.warningFound">
			<i class="fa fa-exclamation"></i>
			{{vm.withdrawlForm.warningMsg}}
		</div>

<div class="alert alert-warning" ng-show="vm.withdrawlForm.warningFound">
		<i class="fa fa-check"></i>
		{{vm.withdrawlForm.warningMsg}}
	</div>
	
		<div class="alert alert-success" ng-show="vm.withdrawlForm.successFound">
			<i class="alert-icon-success alert-icon"></i>
			{{vm.withdrawlForm.successMsg}}
		</div> -->

	<!-- Application Detail -->
	<fieldset class="fieldset">
		<legend class="legendStyle">
			<h2>Withdrawal</h2>
		</legend>
		<div class="row">
			<label class="control-label col-md-2 col-md-offset-1" for="text">Application No:</label>
			<div class="col-md-2">
					<input type="text" class="form-control form-control-width-md"
						id="applicationNoId" ng-model="vm.withdrawlForm.applicationNo">
			</div>
		</div>

	</fieldset> <!-- End Application Detail -->
	
	<div class="row topMargin30"></div>
	
	<!-- Application Related Actions -->
	<fieldset class="fieldset">
		<legend class="legendStyle">
			<h2>Application Related Actions</h2>
		</legend>

		<table show-filter="true" class="table table-striped table-info">
			<tr>
				<th>Application No</th>
				<th>Action</th>				
			</tr>

			<tr ng-repeat="action in vm.withdrawlActionsLogData">
				<td>{{action.applicationNumber}}</td>
				<td>{{action.postingTransaction}}</td>			
			</tr>
		</table>

	</fieldset> <!-- End Application Related Actions -->
	
	<div class="row topMargin30"></div>
	
	<!-- Actions -->
	<fieldset class="fieldset">
		<legend class="legendStyle">
			<h2>Actions</h2>
		</legend>
		<div class="row">
		<label class="control-label col-md-2 col-md-offset-1" for="text">Actions:</label>
			<div class="col-md-5">
				<select class="form-control" id="sel1"
					ng-model="vm.withdrawlForm.actionSelected"
					ng-blur="vm.getWithdrawlActions()"
					ng-options="actionDetails.contentEventCd as (actionDetails.transactionNo + '::'+actionDetails.transactionQualifier  + '::'+ actionDetails.descriptionTx ) for actionDetails in vm.actionList">
				</select>
			</div>
		</div>
		<div class="row inputTopMargin">
			<label class="control-label col-md-2 col-md-offset-1" for="text">Mail Date:</label>
			<div class="col-md-2">
				<span class="input-icon icon icon-calendar-o"></span> <input
					id="dp1"
					data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'"
					type="date" class="datepicker form-control"
					ng-model="vm.withdrawlForm.withdrawlMailDate">
			</div>
			
		</div>

		<div class="row topMargin30"></div>
		<div class="row">
			<div class="col-md-1 col-md-offset-1">
				<button type="submit" class="btn btn-primary" ng-click="vm.postWithdrawlAction()">OK</button>
			</div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-default" ng-click="vm.clear()">Clear</button>
			</div>
		</div>
	</fieldset> <!-- End Actions -->
	
</div> <!-- End container -->
