<div class="container">

	<div ng-include src="'app/utilities/alerts.html'"></div>

	<!-- Dispatch To Employee -->
	<fieldset class="fieldset" ng-disabled="vm.isLoading">
		<legend class="legendStyle">
			<h2>Dispatch To Employee</h2>
		</legend>
		
		<div ng-include src="'app/dispatch/drEmployeeInfo.html'"></div>
		
		<div class="inputTopMargin"></div>
		<div class="row">
			<label class="control-label col-md-3 col-md-offset-1" for="text">Dispatch Employee:</label>
			<div class="col-md-2">
			<input type="text" class="form-control form-control-width-md"
						id="applicationNoId" ng-model="vm.dispatchForm.dispatchEmployee"
						ng-blur="" />
			</div>
		</div>
		<div class="inputTopMargin"></div>
		<div class="row">
			<label class="control-label col-md-3 col-md-offset-1" for="text">Application No:</label>
			<div class="col-md-2">
			<input type="text" class="form-control form-control-width-md"
						id="applicationNoId" ng-model="vm.dispatchForm.applicationNumber" />
			</div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary"
				ng-click="vm.setDispatchToEmployee();">Submit</button>
			</div>
		</div>
				
	</fieldset>
	<!-- End Dispatch To Employee -->

</div>
<!-- End container -->
